/*// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


//Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/utilities";*/
$sideWidthMax:350px;
$sideWidthMin:300px;

* {
  font-family: Roboto, sans-serif;
 
}

//$primary:green;
$accordion-icon-color:                    var(--text-primary);
//$accordion-icon-active-color:             var;

@import "../node_modules/bootstrap/scss/bootstrap";

//material icons
/* Rules for sizing the icon. */
.material-icons.md-12,.material-icons-outlined.md-12 { font-size: 12px; }
.material-icons.md-18,.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons.md-24,.material-icons-outlined.md-24 { font-size: 24px; }
.material-icons.md-36,.material-icons-outlined.md-36 { font-size: 36px; }
.material-icons.md-48,.material-icons-outlined.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0);}

@import './vars.scss';


.accordion-item{
  border:none;
  margin: 1px 0px;
  border-radius: 0;
}

.accordion-button{
  background-color: var(--btn-secondary)!important;
  color: var(--text-primary)!important;
  border-radius: 0 !important;
  font-weight: bold;
  &:focus{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--btn-secondary);
  }
  .collapsed{
    color:white;
  }
}

.love-heart{
color:red;
}
.like-text{
font-size: 12px;
}



.btn-red{
background-color: red;
}
.color-online{
color:green;
}

.contactList{
  width:50%;
  min-width: $sideWidthMin;
}

.contactListItem{
  width:100%;
  height:90px;
  cursor: pointer;
  //border:1px solid var(--btn-primary);
  color:var(--text-primary-dark);
  &:hover{
    background-color: var(--btn-secondary);
    color:var(--text-primary);
  }
}

.avatar-small{
  border-radius: 50px;
  min-width:50px;
  width:50px;
  min-height:50px;
  height:50px;
}

.avatar-big{
  width:150px;
  height:150px;
  border-radius: 100px;
  
}

.hidableText{
      width:100%;
      overflow:hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      white-space: nowrap; 
    }

.chatSection{
  width:100%;
}
.contactListHeader{
  cursor: default;
  background-color: var(--btn-primary);
  color:var(--text-primary);
  height:70px;
}

.sidebar{
  position:fixed;
  top:0;
  left:0;
  transition:transform 1s;
  width: 300px;
  height: 100vh;
  min-height:100vh;
  z-index:2;
}

.profileHeader{
  cursor: default;
  background-color: var(--btn-secondary);
  color:var(--text-primary);
  height:70px;
}

.about{
  color:var(--btn-primary);
  font-size: 12px;
}

.textbox{
  width:95%;
  font-size: 20px;
  border:none;
  background:none;
  border-bottom:1px solid var(--btn-secondary);
  outline: none;
  box-shadow: none;
  color:var(--btn-secondary);
  &:focus{
    border-bottom:2px solid var(--btn-secondary);
  }
  &:disabled{
    color:var(--btn-secondary);
  }
}

#profile{
  background-color:var(--bg-primary-dark);
}
.translator{
  transform:translateX(-300px);
}

.chat{
  width:100%;
  //max-width:400px;
  word-break: break-all;
  &.left{
    flex-direction: row;
    .chatBubble{
      background-color: var(--btn-primary)!important;
    }
  }
  &.right{
    flex-direction: row-reverse;
    .chatBubble{
      background-color: var(--btn-secondary)!important;
      border-radius: 10px 10px 0px 10px;
    }
  }
  
  
  .chatBubble{
    width:0%;
    overflow:hidden;
    animation-name:example;
    animation-duration: 1s;
    //height:0;
    //opacity:0;
    //max-width:0;
    position: relative;
    
    border-radius: 10px 10px 10px 0px;
    font-size:14px;
    transition:width 1s,opacity 1s;
    //transition:height 1s;
  /*&:after {
    $width:12px;
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0px;
    height: 0;
    border: $width solid transparent;
    border-right-color: var(--btn-primary);
    border-top-right-radius:40px 60px; 	
    border-left: 0;
    border-bottom: 0;
    margin-top: -$width;
    margin-left: -$width+5px;
  }
}*/
  }
}

.trans{
  width: 90%!important;
  max-width: 400px;
  //height:100%;
  opacity:1!important;
}

@include media-breakpoint-down(md){
  .contactList{
    width:100%;
    max-width: 100%;
  }
}

.dd-menu{
  display: block;
  position:absolute;
  top:0;
  right: 0;
  z-index:2;
  min-width: 200px;
  background-color:white;
  li{
    color: var(--text-primary-dark);
    list-style-type:none;
    text-align: center;
    &:hover{
      background-color: var(--bg-secondary);
    }
  }
}

.modal-close .btn-close{
  color:var(--text-primary)!important;
}

.loginPage{
  width:100%;
  height:100vh;
  background-image: url('./assets/back.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hide{
  
  height:0;
  overflow: hidden;
  //opacity:0;
  //display:none;
  transition:height 1s;
}

.no-hide{
  //min-height:40px;
  height:60px;
  //transform:translateX(30px);
  //opacity: 1;
  //display: block !important;
}

.no-hide-x2{
  width: 300px;
  max-width: 100%;
  transition: width 1s ,max-height 1s;
}

.hide-x{
  width:0;
  overflow: hidden;
  //opacity: 0;
  transition: width 2s;
}

.no-hide-x{
  width:350px;
}

.google-button{
  background-image: url('./assets/btn_google_signin_dark_normal_web.png');
  background-size: cover;
  height:80px;
}

.error{
  color:var(--text-danger);
  font-size:13px!important;
  font-weight: bolder;
}

.btn-ico{
  border-radius: 30px;
}